@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* Enable dark mode via .dark class (instead of media query) */
@variant dark (&:where(.dark, .dark *));

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
/* Theme imported dynamically in +layout.svelte */

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@utility animate-pulse-slow {
    animation: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}